body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 20px;
}

header input {
    padding: 0px 25px;
    height: 0.5in;
    margin-right: 20px;
    text-transform: uppercase;
    border-radius: 35px;
    border: none;
    color: white;
    background-color: #0D1821;
    cursor: pointer;
}


section {
    width: 100%;
    height: 80vh;
}

#board-game {
    height: 100%;
    margin: 0px 20px;
    background-color: #E0E1E1;
    box-shadow: 3px 3px 3px #AAADB1;
    display: flex;
    flex-direction: column;
}

#color-display-container {
    flex: 9;
    display: flex;
    flex-direction: column-reverse;
}


#selection-color-container {
    margin: 0px 15px;
    border-top: solid 2px #B6B9B6;
    display: flex;
    align-items: center;
}

#selection-color-container div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#selection-color-container div input {
    border-radius: 100%;
    border: none;
    width: 0.5in;
    height: 0.5in;
    margin: 4px 0px; 
    cursor: pointer;
}

#selection-color-container div input:hover {
    border: solid 4px #F5F5F5;
}

#submit-btn {
    margin: 0px 5px;
    padding: 0px 15px;
    height: 0.4in;
    text-transform: uppercase;
    border-radius: 35px;
    border: solid 1px black;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #E0E1E1;
}

#submit-btn:hover {
    background-color: #0D1821;
    color: white;
}





@media screen and (min-width: 850px) {

    #selection-color-container div {
        flex: 5;
    }

    #selection-color-container div input {
        width: 0.7in;
        height: 0.7in;
        margin: 8px 0px; 
    }

    #submit-btn {
        flex: 1;
        font-size: 1em;
    }
}


@media screen and (max-width: 500px)
{
    header {
        flex-direction: column;
    }

    h1 {
        margin: 10px 0px;
    }
    
    header input {
        margin: 0px 0px 15px 0px;
        height: 0.4in;

    }

    #selection-color-container {
        flex-direction: column;
    }

    #selection-color-container div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }

    #submit-btn {
        font-size: 0.6em;
        margin-top: 20px;
        margin-bottom: 5px;
        height: 0.3in;
    }
}


@media screen and (max-width: 350px)
{
    #selection-color-container div input {
        width: 0.35in;
        height: 0.35in;
    }
}

